.screen-container{
    width:calc(100% - 100px);
    height: 100%;
    background-color:#e3e2df ;
    border-radius: 30px;
    background-color: #e3e2df;
opacity: 1;
/* background-image:  repeating-radial-gradient( circle at center left, transparent 0, #e3e2df 50px ), repeating-linear-gradient( #e0d9c255, #e0d9c2 ); */
background-image: linear-gradient(79deg, #e3afbc,#9a1750, #5d001e);
}